# Auto detect text files and perform LF normalization
    <h1 id="modal-h1">
      <a id="alert-age"></a>
      New Update: ETHICS NOTICE 7 OF 5 PROLOGUE RELEASED JULY 20</h1>
        <p>
        A new ethics notice has been released. That is because I have written and sent via email very 
        grounded structurings of concerns that affect me; whereby the conerns are in sound logic without fallacies.
        Yet when I send Amazon these concerns, I have only seen results motioned by
        amazon actions that led to further affects towards my life from my stated concerns.
        <br>
        In summary, Amazon Legal, Amazon HR, Amazon DLS, and Amazon Executives/Officers
        have unfortunately, continually addressed my concerns by non addressed 
        motions that that my concerns as an input, but the outputs it as jsut the concern with
        no changes.

        <br>

        I work with people always in good-faith, (to be honest and helpful) and I always assume
        the best in others. I never look down on people, and I always carry in my life,
        a universal truth that I hold which is simply
        known in one form as the golden rule: treat others like you want to be treated.

        However, I always try to find some pattern in these simple phrases or ideas ABOUT
        how we should regard and treat or view each other.

        So I transformed the Golden Rule as an Lemma A:

          [in progress]
          <br>

<br>
        Hence, the consequence is further casing of my concern now
        against Amazon associates rather than for Amazon associate.
        </p>
        <button id="closbtn">Click To Dismiss</button>
        <br>


        <h2>
        THE NEXT PLAN OF ACTION IS TO RELEASE PROLGUE FO ETHICS SEVEN IN A FORM OF </h2>
         &nbsp; A LOGICAL STRUCTURE OF LAWS, OR AS KNOWN AS 
         A LOGICAL CASED STRUCTURE OF THE STATE OF AFFAIRS BETWEEN AMAZON. THE MAKE CLEAR 
         THE STRUCTURE IS DEFINED AS
         <p>
          
          I AM NOT IMPRESSED AT ALL, TO SAY THE EXTREMEM LEAST, IN REGARDS TO AMAZONS CONTINUED ACTIONS IN THIS STATE OF AFFAIRS.

          THEREFORE, I HAVE REACHED A CRITICAL THRESHOLD IN WHCHI I CAN NO LONGER REGARD AMAZON'S ROLE IN THIS STATE AS 
          IN GOOD FAITH. TO REMOVE ALL AMBIGUITY AND TO PROVIDED A DEFINITELY SEALED CASING OVER AMAZON'S ROLE AS A ROLE DEAFINED AS IN 
          "MALIC."

          AMAZON I AM TIRED OF THE EXHAUSTIVE ACTIONS, NOW INTERPETEABLE AS DECIPTION AND/OR TRICKERY.

          I SUGEST YOU SNED A CONCRETE EXPLAINTION OF MOTIVES OR BE CASED INTO A COURT FEDERAL CONSQAEUESS. 
         </p>
  
         <li>
          <ul>
            THE STRUCTURE IS SELF-STANDING IN A CONTEXT OF STATE OF AFFAIRS
          </ul>
          <ul>
            THE STRUCTURE STANDS IN ANY OR ALL POSSIBLE CONTEXTS WITHOUT USAGE OF INTENTIONAL BIASES OR UNNINTIAL BIASES
          </ul>
          <ul>
            THE STRUCTURE STANDS BASED ON THE SRTUCTURE FRAMEWORKING, IN WHICH THE FRAMEWORKING IS FACILAITED BY THE WRITTEN CASE STRUCTURE, AND THE WRITTEN CASE STRUCTURE IS WRITTEN THROUGH USAGE OF:
            <li>
                <ul>
                  THE CASE STRUCTURE DERIVED FROM ONLY AXIOMS

                </ul>
                <ul>
                  THE CASE STRUCTURE ONLY USES ARITHMATIC AXIOMS, AND NOT AXIOS FROM ANY OTHER CONTEXT
                </ul>
                <ul>
                  THE CASE STRUCTURE USES ARITHMETIC, BOOLEAN ALGEBRA, GEOMETRY, AND CALCUS AS DERIVATIONS FOR ITS LEMMAS
                </ul>
                <ul>
                  THE CASE STRUCTURE USES LEMMAS ONLY FROM THE CONTEXT OF A LEGAL CONTEXT, THEREEBY AND LEMMAS ARE DERVIED FROM LEGAL LAW AND OR policies
                </ul>
            </li>
   
            </ul>

            </ul>
          </UL>
         </li>
         &nbsp;
   
              
</h1>
        
        <p>

            <li>
                <ul>
         

                  The Ethics Notice 7 Prologue will be and has been released in parts. These parts are a differet modal of Ethics 7 Prologue, termned as 
                  expression via a form.
                <p>

                </p>
    
            <li>
                <a href="https://atoz.amazon-services.llc/raped-ziping">ETHICS NOTICE 7 OF 5 PROLOGUE, Expressed as {Form: Art, keywords:
                    (human, humanity, emotion, feeling, communcating, empathy, sympathy, understanding, mutually unnecesary)</a>
                    <ul>


               
             
                    </ul>
        
            </li>
        </ul>
        </li>


        
        </p>
        <cite>
            Update age: <a id="age"></a> days old, 
        </cite>
      </p>
    </span>
    <li>
      <ul></ul>
    </li>
  </div>
